.earth-gif-container {
  width: 100%;
  position: relative;
}

.earth-gif-container h2 {
  text-align: center;
  color: white;
  margin-top: -60px;
}

.earth-gif {
  width: 100%;
}

.header {
  background-image: url("https://cdn.glitch.com/62fceb25-ebb2-430b-8e59-dc498aba1521%2FTeam%20CO2.png?v=1601817306087");
  height: 100vh;
  width: auto;
  background-position: center;
}

.carbon-molecule {
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .carbon-molecule {
    width: 60%;
  }
}

input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.container bg-info text-white rounded-lg text-center{
  color: #black;
}

.containertext-center{
  background-color: #fff;
}

.container-text-center{
  text-align: center;
}
.container-bg-info-text-white-rounded-lg-text-center{
  text-align: center;
}
#result{
  background-color: #FF0000;
}
.bg-success-rounded-lg{
  background-color: #FF0000;
}

.calculate {
  border: none;
  background-color: #00e676;
  padding: 14px 16px;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.desc {
  padding: 15px;
  text-align: center;
  color: #FC3D21;
  font-size: 17px;
}

.follow-div {
  width: 100%;
  display: block;
  margin: 40px auto;
  text-align: center;
}

.follow-btn {
  color: #fff;
  background-color: #0B3D91;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.follow-btn:hover {
  text-decoration: none;
  color: #fff;
  padding: 16px 18px;
  transition: 0.5s;
}

.activist-containers {
  display: block;
  margin: 30px auto;
  text-align: center;
}

.activist-btn {
  color: #FC3D21;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activist-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #FC3D21;
  transition: 0.75s;
}