body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-image: url("https://cdn.glitch.com/62fceb25-ebb2-430b-8e59-dc498aba1521%2Ftree-background-images_5631923.jpg?v=1601753665910");
  height: 100vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  
}
.form-style-3 {
  max-width: 450px;
  display: block;
  margin: 10px auto;
}

.form-style-3 label {
  display: block;
  margin-bottom: 15px;
}

.form-style-3 label > span {
  float: left;
  width: 100px;
  color: #000000;
  font-weight: bold;
  font-size: 17px;
}

.form-style-3 fieldset {
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-style-3 fieldset legend {
  color: #000000;
  border-top: 1px solid #000000;
  border-left: 1px solid #010109;
  border-right: 1px solid #140202;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #fff;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #fff;
  -moz-box-shadow: -0px -1px 2px #fff;
  -webkit-box-shadow: -0px -1px 2px #fff;
  font-weight: normal;
  font-size: 12px;
}

.form-style-3 textarea {
  width: 250px;
  height: 100px;
}

.form-style-3 input[type="text"],
.form-style-3 input[type="number"],
.form-style-3 input[type="email"],
.form-style-3 select,
.form-style-3 textarea {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  outline: none;
  color: #000000;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #808080;
  -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
  -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
  background: #fff;
  width: 50%;
}



.form-style-3 input[type="submit"],
.form-style-3 input[type="button"] {
  background: #fff;
  border: none;
  padding: 5px 15px 5px 15px;
  color: #3c5b3b;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
  display: block;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.required {
  color: green;
  font-weight: normal;
}
